* {
    margin: 0;
    
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100vh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.choice img {
  width: 90px;
  height: 90px;
  margin: 20px 0;
  border-radius: 100%;
  transition: transform 0.2s ease;
  object-fit: cover;
  padding-top: 5px;
}

.choice img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.main {
  margin: -20px -20px 0 100px;
  padding: 20px;
  background-color: #1ec997;
  width: 100%;
  min-height: 100vh;
 
  overflow-x: hidden;
}

h1 {
  text-align: center;
  background-color: #0a3813;
  color: white;
  padding: 20px;
  
}

.move-display {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.move-display img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 30px;
}

.scoreboard p {
  font-size: 2rem;
  margin: 5px;
}

.msg-box {
  text-align: center;
  margin: 30px 380px 0 380px;
  font-size: 1.5rem;
  background: #064e56;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.video-container video {
    width: 240px;
    height: 240px;
    border-radius: 1rem;
    object-fit: cover;
}

#computer-move {
    transform: scaleX(-1);    
}

.textImg {
    color: aliceblue;
    text-align: center;
}

.reset-btn {
    background-color: rgb(2, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(128, 132, 136);
    text-align: center;
    margin: 20px 450px;
    padding: 4px;
    height: 40px;
    border-radius: 10px;
}